##
## Point to the installation of your SDKs.
## Use / instead of \ on Windows.
##

FLEX_HOME=
HAXE_HOME=

##
## You shouldn't need to change anything after this line
##

flex.frameworks=${FLEX_HOME}/frameworks
flex.bin=${FLEX_HOME}/bin
flex.libs=${flex.frameworks}/libs
flex.compc=${flex.bin}/compc${exe}
flex.mxmlc=${flex.bin}/mxmlc${exe}
flex.asdoc=${flex.bin}/asdoc${exe}

haxe.exe=${HAXE_HOME}/haxe${exe}
